.navbar-1{
  height: 55px;
  border-bottom: 1px solid #d5d4d4;
  font-size: 14px !important;

  .container{
    
    .masses{

      h6{
        line-height: 0.8px ;
        letter-spacing: 0.7px;
        font-weight: 400;
        color: #555252;
        font-size: 14px;
      }
      span{
        color: rgb(253, 34, 34);
      }
    }
  }
}
