.breadcrumb-area{
  background-color: #f1f1f1;
  padding: 35px 0;
  margin-top: 1rem;
  
  span > span{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;

    a{
      color: #5b5858;
      text-decoration: none;

      &:hover{
        color: #a749ff;
      }
    }

    span{
      margin: 0 10px;
    }
  }
}
// Sidebar Start
.sidebar-style{

  .sidebar-widget{
    h4{
      margin-top: 50px;
    }

    .pro-sidebar-title{
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 30px;
      color:#333;
    }

    .pro-sidebar-search{
      position: relative;

      input{
        width: 100%;
        font-size: 14px;
        height: 45px;
        padding: 2px 30px 2px 18px;
        color: #000;
        border: 1px solid #e6e6e6;
        background: transparent none repeat scroll 0 0;
        box-shadow: none;
        outline: none;

      }
      button{
        font-size: 20px;
        position: absolute;
        top: 50%;
        right: 0;
        padding: 0 15px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        transform: translateY(-50%);
        color: #a1a5aa;
        border: none;
        border-left: 1px solid #a1a5aa;
        background: transparent none repeat scroll 0 0;
        background-color: #f6f6f6;

        &:hover{
          color: #a749ff;
        }
      }
    }

    .sidebar-widget-list{
      margin-top: 30px;
      ul{
        margin: 0;
        padding: 0;
        list-style: outside none none;
        
        
        li{
          position: relative;
          align-items: center;
          padding: 0 0 15px;
          

          button{
            position: relative;
            display: block;
            width: 100%;
            padding: 0 0 0 30px;
            text-align: left;
            text-transform: uppercase;
            border: none;
            font-size: 14px;
            background: none;
            .checkmark{
              position: absolute;
              left: 0;
              top: 0;
              width: 15px;
              height: 15px;
              border: 2px solid #888;
              border-radius: 3px;
              background-color: #fff;
              line-height: 20px;
              text-align: center;
              align-items: center;

            }
            &:hover .checkmark{
              border-color: #a749ff;
              background-color: #a749ff;
            }
          }
        }
      }
    }
  }
}





